{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form2 'bootstrap_4_layout.html.twig' %}
{% form_theme form3 'bootstrap_4_layout.html.twig' %}

{% block contentAdmincontent %}


    {{ dump(searchform) }}
    <h2 class="mb-4">Export des produits commandés</h2>

    <div class="">
        <h5>
            <ins>Recherche par compagnon</ins>
        </h5>
        {{ form(form3) }}
        <ul id="autocomplete"></ul>

    </div>
    <hr>

    <div class="">
        <h5>
            <ins>Recherche par agence</ins>
        </h5>
        {{ form(form) }}
    </div>
    <hr>

    <div class="">
        <h5>
            <ins>Lancer la recherche pour toutes les agences</ins>
        </h5>
        {{ form(form2) }}
    </div>

    <hr>

    <h5 class="mb-2">Résultat : liste des produits commandés</h5>
    <div class="container w-75">


        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr class="row">
                    <th class="col-1">#</th>
                    <th class="col-7">libellé</th>
                    <th class="col-2">taille</th>
                    <th class="col-2">quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for pdt in syntheseCommande %}
                    <tr class="row">
                        <th class="col-1">{{ loop.index }}</th>
                        <td class="col-7">{{ pdt.libelle }}</td>
                        <td class="col-2">{{ pdt.taille }}</td>
                        <td class="col-2">{{ pdt.qty }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <button type="button" class="btn btn-info">
        <a href="{{ path('pdf_export', { 'searchform': searchform }) }}" class="text-white">Télécharger en pdf</a>
    </button>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

       $(document).ready(function() {
           $("#app_bundle_export_user_commandes_type_Recherche").keyup(function () {
               let input = $(this).val();
               console.log(input)
               if (input.length >= 2) {
                   $.ajax({
                       type: "POST",
                       url: "/exports/ajax/" + input,
                       dataType: 'json',
                       success: function (data) {
                           console.log(data);
                           // let users = JSON.parse(response.data);
                           // console.log(users)
                           // html = "";
                           // for (i=0; i<users.length; i++) {
                           //     html += "<li>" + users[i].firstname + users[i].lastname + "</li>";
                           // }
                       }
                   })
               }

           })
       })

    </script>
{% endblock %}