{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme form2 'bootstrap_4_layout.html.twig' %}
{% form_theme form3 'bootstrap_4_layout.html.twig' %}

{% block contentAdmincontent %}


    <h2 class="mb-4">Export des produits commandés</h2>

    <div class="">
        <h5>
            <ins>Recherche par compagnon</ins>
        </h5>
        {{ form(form3) }}
        <ul id="autocomplete"></ul>

    </div>
    <hr>

    {% if commandesUser %}
        <h5 class="mb-2">Résultat : liste des commandes</h5>
        <div class="container w-75">


            {% for commandeUser in commandesUser %}

                <div class="row">
                    <h6 class="col-2">Commande n° {{ commandeUser.reference }}</h6>
                    <h6 class="col-4">Date: {{ commandeUser.date | date('d/m/Y') }}</h6>

                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr class="row">
                            <th class="col-1">#</th>
                            <th class="col-7">libellé</th>
                            <th class="col-2">taille</th>
                            <th class="col-2">quantité</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandeUser.commande %}
                            <tr class="row">
                                <th class="col-1">{{ loop.index }}</th>
                                <td class="col-7">{{ commande.libelle }}</td>
                                <td class="col-2">{{ commande.taille }}</td>
                                <td class="col-2">{{ commande.qte }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endfor %}

        </div>

    {% endif %}



    {#<div class="">#}
        {#<h5>#}
            {#<ins>Recherche par agence et par type de paquetage</ins>#}
        {#</h5>#}

        {#{{ form_start(form) }}#}

        {#{{ form_label(form.agence,'Agence') }}#}
        {#{{ form_widget(form.agence) }}#}
        {#{{ form_errors(form.agence) }}#}

        {#{{ form_label(form.qualification,'Type de paquetage') }}#}
        {#{{ form_widget(form.qualification) }}#}
        {#{{ form_errors(form.qualification) }}#}

        {#{{ form_end(form) }}#}

    {#</div>#}

    {#{% if agence %}#}
        {#<button type="button" class="btn btn-info">#}
            {#<a href="{{ path('pdf_export_agence', {'agence': agence , 'paquetageType': paquetageType } ) }}"#}
               {#class="text-white">Télécharger en pdf</a>#}
        {#</button>#}
    {#{% endif %}#}
    {#{% if paquetageType %}#}
        {#<button type="button" class="btn btn-info">#}
            {#<a href="{{ path('pdf_export_paquetageType', {'agence': agence , 'paquetageType': paquetageType} ) }}"#}
               {#class="text-white">Télécharger en pdf</a>#}
        {#</button>#}
    {#{% endif %}#}

    {#<hr>#}

    {#<div class="">#}
        {#<h5>#}
            {#<ins>Lancer la recherche pour toutes les agences</ins>#}
        {#</h5>#}

        {#{{ form(form2) }}#}

    {#</div>#}

    {#<hr>#}

    {#<h5 class="mb-2">Résultat de votre recherche : liste des produits commandés</h5>#}
    {#<div class="container w-75">#}

        {#{% if syntheseCommande %}#}

            {#<div class="row">#}
                {#<table class="table table-striped">#}
                    {#<thead>#}
                    {#<tr class="row">#}
                        {#<th class="col-1">#</th>#}
                        {#<th class="col-7">libellé</th>#}
                        {#<th class="col-2">taille</th>#}
                        {#<th class="col-2">quantité</th>#}
                    {#</tr>#}
                    {#</thead>#}
                    {#<tbody>#}
                    {#{% for pdt in syntheseCommande %}#}
                        {#<tr class="row">#}
                            {#<th class="col-1">{{ loop.index }}</th>#}
                            {#<td class="col-7">{{ pdt.libelle }}</td>#}
                            {#<td class="col-2">{{ pdt.taille }}</td>#}
                            {#<td class="col-2">{{ pdt.qty }}</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                    {#</tbody>#}
                {#</table>#}
            {#</div>#}

            {#<button type="button" class="btn btn-info">#}
                {#<a href="{{ path('pdf_export', { 'searchform': searchform }) }}" class="text-white">Télécharger en#}
                    {#pdf</a>#}
            {#</button>#}

        {#{% else %}#}

            {#<h6>aucun résultat</h6>#}

        {#{% endif %}#}

    {#</div>#}





{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {
            $("#app_bundle_export_user_commandes_type_Recherche").keyup(function () {
                let input = $(this).val();
                if (input.length >= 2) {
                    $.ajax({
                        type: "POST",
                        url: "../exports/ajax/" + input,
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (response) {
                            let users = JSON.parse(response.data);
                            html = "";
                            userid = "";
                            for (i = 0; i < users.length; i++) {
                                html += "<li data-mydata=" + users[i].id + "  id=userid-" + users[i].id + ">" + users[i].firstname + ' , ' + users[i].lastname + "</li>";
                            }
                            $('#autocomplete').html(html);
                            $('#autocomplete li').on('click', function () {
                                $('#app_bundle_export_user_commandes_type_Recherche').val($(this).html()).data('userid', $(this).data());
                                userid = $(this).data().mydata;
                                $('#autocomplete').html('');
                                $('#app_bundle_export_user_commandes_type_rechercher').on('click', function () {
                                    $('#app_bundle_export_user_commandes_type_Recherche').val(userid);
                                })

                            });
                        },
                        error: function () {
                            $('#autocomplete').text('Ajax call error');
                        }
                    })

                }

            })
        })

    </script>
{% endblock %}