{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="">
            <h4>Confirmation de la commande</h4>
        </div>
        <div class="row d-flex justify-content-end m-4">
            <div class="commande--title">
                <h5>{{ user.firstname }} {{ user.lastname }}</h5>
                <h5>Type de paquetage : <span class="text-capitalize">{{ user.qualification.name }}</span></h5>
                <h5>Agence : {{ user.agence.name }}</h5>
                <h5>Référence Commande: {{ reference }}</h5>
                {#<h5>Date commande : {{ commandeUser.date|date('d/m/Y') }}</h5>#}
                {#<h5>Date commande : {{ commande.date|date('d/m/Y') }}</h5>#}
            </div>
        </div>
        <hr>

        <div class="row mt-4">
            <table class="table table-striped">
                <thead>
                <tr class="row">
                    <th class="col-1">#</th>
                    <th class="col-7">libellé</th>
                    <th class="col-2">taille</th>
                    <th class="col-2">quantité</th>
                </tr>
                </thead>
                <tbody>
                {% if commande %}
                    {% for produit in commande.commande %}
                        <tr class="row">
                            <th class="col-1">{{ loop.index }}</th>
                            <td class="col-7">{{ produit.libelle }}</td>
                            <td class="col-2">{{ produit.taille }}</td>
                            <td class="col-2">{{ produit.qte }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if commandeUser %}
                    {% for produit in commandeUser.commande %}
                        <tr class="row">
                            <th class="col-1">{{ loop.index }}</th>
                            <td class="col-7">{{ produit.libelle }}</td>
                            <td class="col-2">{{ produit.taille }}</td>
                            <td class="col-2">{{ produit.qte }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <button type="button" class="btn btn-next float-right">
            <a href="{{ path('pdf') }}" class="text-white">Télécharger en pdf</a>
        </button>

    </div>



{% endblock %}