{% extends 'base.html.twig' %}

{% block body %}

    <div class="mb-4">
        <h4 class="text-center">{{ user.firstname }} {{ user.lastname }} confectionnez votre
            paquetage de {{ yearPaquetage }}
            <a href="" class="btn btn-package ml-4" data-toggle="modal" data-target="#exampleModal">guide des tailles</a>
        </h4>


        {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
            {#Launch demo modal#}
        {#</button>#}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal--fiches--mesures" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fiche de mesures</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('images/fiche-mesures01.png') }}">
                    <img src="{{ asset('images/fiche-mesures02.png') }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    <div class="package-front">
        <div class="row">
            <div class="container product--list p-3 col-6">
                <h4 class="p-2 mb-4 text-center">Sélection du paquetage</h4>
                <div class="row">
                    <div class="col-1">#</div>
                    <div class="col-5">Libellé</div>
                    <div class="col-2">Taille</div>
                    <div class="col-2">Quantité</div>
                    <div class="col-1">Ajouter</div>
                </div>
                <hr>
                {% for produit in produits %}
                    {% if produit.id in backOrder %}
                        {% set id = produit.id %}
                        <div class="row" id="productid-{{ produit.id }}">
                            <div class="col-1">{{ loop.index }}</div>
                            <div class="col-5 form-product"
                                 data-productid="{{ produit.id }}">{{ produit.name }}</div>
                            <div class="col-2 form-product-taille">
                                <select class="custom-select w-100">
                                    {% for addproduct in panier %}
                                        {% if addproduct.product.id == id %}
                                            {% set tailleorderid = addproduct.taille.id %}
                                            {% set selectedoption = '' %}
                                            {% for taille in produit.tailles %}
                                                <option class="form-product-taille-option"
                                                        value="{{ taille.id }}"
                                                        {{ (taille.id == tailleorderid) ? 'selected' : '' }}>
                                                    {{ taille.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 form-product-qty">
                                {% for addproduct in panier %}
                                    {% if addproduct.product.id == id %}
                                        {% set qte = addproduct.quantity %}
                                        <input type="number" class="form-product-qty-value form-group"
                                               id="quantity" value="{{ qte }}" min="0" required>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <div class="col-1 custom-switch">
                                <input type="checkbox" class="custom-switch-input" id="check-{{ produit.id }}" checked>
                                <label class="custom-switch-btn" for="check-{{ produit.id }}"></label>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" id="productid-{{ produit.id }}">
                            <div class="col-1">{{ loop.index }}</div>
                            <div class="col-5 form-product"
                                 data-productid="{{ produit.id }}">{{ produit.name }}</div>
                            <div class="col-2 form-product-taille">
                                <select class="custom-select w-100">
                                    {#<option>tailles</option>#}
                                    {% for taille in produit.tailles %}
                                        <option class="form-product-taille-option"
                                                value="{{ taille.id }}">{{ taille.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 form-product-qty">
                                <input type="number" class="form-product-qty-value form-group"
                                       id="quantity" placeholder="0" min="0" required>
                            </div>
                            <div class="col-1 custom-switch">
                                <input type="checkbox" class="custom-switch-input" id="check-{{ produit.id }}">
                                <label class="custom-switch-btn" for="check-{{ produit.id }}"></label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="container product--select p-3 col-5">
                <h4 class="p-2 mb-4 text-center">Sélection de {{ user.firstname }} {{ user.lastname }}</h4>
                <div id="panier" class="w-100">
                    <table class="table table-striped">
                        <thead>
                        <tr class="row m-auto">
                            <th class="offset-1 col-1">#</th>
                            <th class="col-6">Produit</th>
                            <th class="col-2">Taille</th>
                            <th class="col-1">Qté</th>
                        </tr>
                        </thead>
                        <tbody class="panier--product">
                        {% for addproduct in panier %}
                            <tr class="row m-auto" id="idpdt-panier-{{ addproduct.product.id }}"
                                data-panierproductid="{{ addproduct.product.id }}">
                                <td class="offset-1 col-1">{{ loop.index }}</td>
                                <td class="col-6">{{ addproduct.product.name }}</td>
                                <td class="col-2">{{ addproduct.taille.name }}</td>
                                <td class="col-1">{{ addproduct.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <a href="{{ path('panier') }}" class="btn btn-next float-right mb-3">Valider</a>
                    <a href="{{ path('reset_panier') }}" class="btn btn-back text-white mb-3">Annuler Sélection</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            let addProduct = {
                idPdt: null,
                taille: null,
                qty: null
            };
            let cart;
            $(".custom-switch-input").change(function () {
                let isChecked = $(this).is(":checked");

                if (isChecked) {
                    addProduct.idPdt = $(this).parent().parent().children('.form-product').data('productid');
                    addProduct.qty = $(this).parent().parent().children('.form-product-qty')
                        .children('input#quantity').val();
                    addProduct.taille = $(this).parent().parent().children('.form-product-taille')
                        .children('select.custom-select').val();
                    $.ajax({
                        url: '{{ path('package') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'addProduct': addProduct, 'cart': cart},
                        success: function (data) {
                            let idPdtCart = data['addPdtId'];
                            let qtyCart = data['addPdtQty'];
                            let tailleCart = data['addPdtTaille'];
                            let libellePdtCart = data['addPdtLibelle'].replace(/"/g, "");
                            let libelleTailleCart = data['addPdtTailleLibelle'].replace(/"/g, "");
                            $('.panier--product').append("<tr class=\"row m-auto\" id=idpdt-" + idPdtCart + ">" +
                                "<td class=\"offset-1 col-1\">" + idPdtCart + "</td>" +
                                "<td class=\"col-6\">" + libellePdtCart + "</td>" +
                                "<td class=\"col-2\">" + libelleTailleCart + "</td>" +
                                "<td class=\"col-1\">" + qtyCart + "</td>\n" +
                                "</tr>");
                        }
                    })
                } else {
                    let lessProduct = {
                        idPdt: null,
                        taille: null,
                        qty: null
                    };
                    lessProduct.idPdt = $(this).parent().parent().children('.form-product').data('productid');
                    lessProduct.qty = $(this).parent().parent().children('.form-product-qty')
                        .children('input#quantity').val();
                    lessProduct.taille = $(this).parent().parent().children('.form-product-taille')
                        .children('select.custom-select').val();
                    $.ajax({
                        url: '{{ path('package') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'lessProduct': lessProduct},
                        success: function (data) {
                            let lessPdtId = data['lessPdtId'];
                            $('#idpdt-' + lessPdtId + '').remove();
                            $('#idpdt-panier-' + lessPdtId + '').remove();
                        }
                    })
                }
            });

            $(".panier-form-product-check").change(function () {
                let isCheckedPanier = $(this).is(":checked");
                if (isCheckedPanier) {
                    alert('check')
                    let lessProductPanier = {
                        idPdt: null
                    };
                    lessProductPanier.idPdt = $(this).parent().parent().data('panierproductid');
                    $.ajax({
                        url: '{{ path('package') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {'lessProductPanier': lessProductPanier},
                        success: function (data) {
                            let lessPdtIdPanier = data['lessPdtIdPanier'];
                            $('#idpdt-panier-' + lessPdtIdPanier + '').html('');
                            $('.product--list').$('#productid-' + lessPdtIdPanier + '').children('.form-product-qty').children('input#quantity').val('0');
                        }
                    })
                }
            })
        });
    </script>

{% endblock %}