{% extends 'base.html.twig' %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}

{% block body %}

    <div class="container package-front--panier">

        <div id="panier">
            <h4 class="text-center mb-4">Votre paquetage</h4>
            <h5>Vous êtes sur le point de valider la commande de {{ user.firstname }} {{ user.lastname }}</h5>

            <table class="table table-striped w-75">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Qté</th>
                </tr>
                </thead>
                <tbody class="panier--product">

                {% for addproduct in panier %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ addproduct.product.name }}</td>
                        <td>{{ addproduct.taille.name }}</td>
                        <td>{{ addproduct.quantity }}</td>
                    </tr>
                    {% set totalHT = totalHT + (addproduct.product.prix*addproduct.quantity) %}
                {% endfor %}
                </tbody>
            </table>

            <div>
            </div>
            {% if user.qualification.id == 1 %}
                {% if totalHT < 373 %}
                    <a href="{{ path('commande', { 'panier': panier }) }}"
                       class="btn btn-success float-right">Valider</a>
                {% else %}
                    <p>le montant est trop élevé refaire votre sélection</p>
                {% endif %}
            {% elseif user.qualification.id == 2 %}
                {% if totalHT < 374 %}
                    <a href="{{ path('commande', { 'panier': panier }) }}"
                       class="btn btn-success float-right">Valider</a>
                {% else %}
                    <p>le montant est trop élevé refaire votre sélection</p>
                {% endif %}
            {% elseif user.qualification.id == 3 %}
                {% if totalHT < 391 %}
                    <a href="{{ path('commande', { 'panier': panier }) }}"
                       class="btn btn-success float-right">Valider</a>
                {% else %}
                    <p>le montant est trop élevé refaire votre sélection</p>
                {% endif %}
            {% elseif user.qualification.id == 4 %}
                {% if totalHT < 391 %}
                    <a href="{{ path('commande', { 'panier': panier }) }}"
                       class="btn btn-success float-right">Valider</a>
                {% else %}
                    <p>le montant est trop élevé refaire votre sélection</p>
                {% endif %}
            {% elseif user.qualification.id == 5 %}
                {% if totalHT < 416 %}
                    <a href="{{ path('commande', { 'panier': panier }) }}"
                       class="btn btn-success float-right">Valider</a>
                {% else %}
                    <p>le montant est trop élevé refaire votre sélection</p>
                {% endif %}
            {% endif %}
        </div>

        <button type="button" class="btn btn-info">
            <a href="{{ path('reset_panier') }}" class="text-white">Retour Sélection</a>
        </button>

    </div>

{% endblock %}